@font-face {
  font-family: 'Fira Sans, sans-serif';
  src: url('./Fira_Sans/FiraSans-Light.ttf');
  src: local('Fira Sans Light') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'Fira Sans, sans-serif';
  src: url('./Fira_Sans/FiraSans-Regular.ttf');
  src: local('Fira Sans Regular') format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: 'Fira Sans, sans-serif';
  src: url('./Fira_Sans/Montserrat-Medium.ttf');
  src: local('Fira Sans Medium') format('truetype');
  font-weight: 500;
}
@font-face {
  font-family: 'Fira Sans, sans-serif';
  src: url('./Fira_Sans/FiraSans-SemiBold.ttf');
  src: local('Fira Sans Semibold') format('truetype');
  font-weight: 600;
}
@font-face {
  font-family: 'Fira Sans, sans-serif';
  src: url('./Fira_Sans/FiraSans-Bold.ttf');
  src: local('Fira Sans Bold') format('truetype');
  font-weight: 700;
}
